<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="icon" href="/favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Ralli Serie B</title>
		<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js" defer></script> -->
		<script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
		<script type="text/javascript" src="/src/data/dadesPilots.js" defer></script>
		<link rel="stylesheet" href="./src/style/styles.css">
		<script type="text/javascript" src="/src/data/moviment.js" defer></script>
	</head>
	<body>
	<header>
		<h1>APOSTES DE RALLY SERIE B</h1>
	</header>
	<div id="app">
		<!-- Per la classe especifica de vue he consultat https://vuejs.org/guide/essentials/class-and-style -->
		<div v-if="errors.length" class="errors" :class="{ 'mostrar-errors': mostrarErrors }">
			<p>
			<b>Formulari no valid</b>
			<ul>
				<li v-for="error in errors">{{ error }}</li>
			</ul>
			</p>
			<button @click="amagarErrors" class="boto">D'acord</button> <!-- Botó per tancar la finestra d'error-->
		</div>
		<div class="form">
			<form v-on:submit.prevent="validarCamps" method="post">
			<label for="email">Email:</label>
			<input type="email" v-model="email" name="email">
			
			<label for="password">Password:</label>
			<input type="password" v-model="passwd" name="password">
	
			<label for="pilot">Pilot:</label>
			<select v-model="pilot_selected" v-on:change="generarAposta">
				<option v-for="pilot in pilots" :value="pilot.id" :key="pilot.id">
					{{ pilot.nom }}
				</option>
			</select>
	
			<label for="aposta">Aposta:</label>
			<select v-model="aposta_selected" v-on:change="generarAposta">
				<option v-for="aposta in aposta" :value="aposta.id" :key="aposta.id">
					{{ aposta.nom }}
				</option>
			</select>
	
			<label for="cuantitatAposta">Quantitat Aposta (€):</label>
			<input type="number" v-model="qt_apostada" v-on:keyup="calcularAposta" v-on:change="calcularAposta" name="cuantitatAposta"> 
			
			<p>Multiplicador: {{ multi }}</p> 
			<p>Premi: {{ premi }}</p>

			<input class="boto" type="submit" value="Aposta"> <input class="boto" type="button" v-on:click="resetFormulari" name="reset" value="Reset">
			</form>
		</div>
		<div>
			<span class="result" id="result" name="result" v-html="result"></span>
		</div>

		<img id="choco" src="./src/img/car.png">
	</div>
	</body>
</html>
